:root {
  --grid: #ffa6009f;
  --cellSize: 22px;
  --white: #ffffff;
  --orange: #ffa600d9;
  --darkOrange: #ff8c00;
  --orangeRed: #ff4500;
  --orangeBurnt: rgb(204, 85, 0);
  --paleBlue: rgb(4, 116, 186);
  --gradient: linear-gradient(to right, #ff4e00, #ec9f05);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  cursor: url("./cursor.png"), pointer;
}

.custom-cursor{
  cursor: url("./cursor.png"), pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.increaseHeight {
  height: 240px !important;
}

.bg-gradient {
  background: var(--gradient) !important;
}

.text-orange{
  color: var(--orangeRed)
}

.contact-button {
  max-height: 35px;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 40px;
}

.speedvalue{
  font-size: 12px;
}

.hoverPrimary {
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  overflow: hidden;
  background: linear-gradient(to right, var(--orange), red 50%, black 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.weightButton {
  background: white;
  border: 2px solid var(--darkOrange);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
}

.weightContainer {
  position: relative;
}

.weightspan{
  position: absolute;
  left: 11px;
  font-size: 8px;
  top: 10px;
  color: white;
}

.weightSelect {
  position: absolute;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s;
  box-sizing: border-box;
  top: 15px;
  z-index: 1;
}



.weightList {
  border-left: 2px solid var(--darkOrange);
  border-right: 2px solid var(--darkOrange);
  text-align: center;
  background-color: white;
  width: 32px;
  cursor: pointer;
}

.weightList:last-child {
  border-bottom: 2px solid var(--darkOrange);
  border-radius: 0 0 50% 50%;
}

.fullScreenBlocker{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  top: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
















.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #ffb268;
  box-shadow: 30px 0 0 #ff9f40;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff8c00;
  box-shadow: 30px 0 0 #ff4e00;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff9f40;
  }
  50% {
    box-shadow: 0 0 0 #ff9f40;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff9f40;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #ff4e00;
  }
  50% {
    box-shadow: 0 0 0 #ff4e00;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff4e00;
    margin-top: 0;
  }
}
