:root {
  --grid: #ffa6009f;
  --cellSize: 22px;
  --white: #ffffff;
  --orange: #ffa500;
  --darkOrange: #ff8c00;
  --orangeRed: #ff4500;
  --orangeBurnt: rgb(204,85,0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
